@charset “utf-8”;
input,input[type=“button”],input[type=“reset”]{resize:none;border:none}
a,article,aside,body,button,dd,details,div,dl,dt,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,img,input,li,menu,nav,ol,p,section,select,table,tbody,td,textarea,th,tr,ul{-webkit-tap-highlight-color:rgba(0,0,0,0)}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
 img{width:100%;height:auto;width:auto\9;display:block;-ms-interpolation-mode:bicubic}
a,article,aside,body,button,dd,details,div,dl,dt,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,img,input,li,menu,nav,ol,p,section,select,table,tbody,td,textarea,th,tr,ul{margin:0;padding:0}
body{font:12px/1.5 ‘Microsoft YaHei’,‘宋体’,Tahoma,Arial,sans-serif;color:#555;background-color:#f7f7f7}
em,i{font-style:normal}
li,ul{list-style-type:none}
strong{font-weight:400}
.clearfix:after{content:“”;display:block;visibility:hidden;height:0;clear:both}
.clearfix{zoom:1}
a{text-decoration:none;color:#969696;font-family:‘Microsoft YaHei’,Tahoma,Arial,sans-serif}
a:hover{text-decoration:none}
ol,ul{list-style:none}
h1,h2,h3,h4,h5,h6{font-size:100%;font-family:‘Microsoft YaHei’}
img{border:none}
input{font-family:‘Microsoft YaHei’}
.one-txt-cut{overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.txt-cut{overflow:hidden;text-overflow:ellipsis;display:-webkit-box}
a:active,a:hover,a:link,a:visited{background:0 0;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color:transparent}
.w50{width:50%}
.w25{width:25%}
.w20{width:20%}
.w33{width:33.333333%}
.fl{float:left}
.fr{float:right}
.db{display:block!important}
.dn{display:none}